#form{
    background-color: rgb(78, 78, 243);
    padding: 1em;
    width: 40em;
    margin-left: 20em;
    /* height: 30em; */
}
hr{
    border: none;
}
h1{
    text-align: center;
}
button{
    padding: 1em;
    border-radius: 1em;
    color: white;
    background-color: blue;
    margin-left: 20em;
    /* margin-top: 5em; */
}
button:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    font-weight: bold;
}
.input{
    margin-left: 0.8em;
    width: 13em;
    padding: 0.5em;
}
#short{
    margin-top: -1em;
}


